{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <div class="row">
                             
                                <div class="col-xl-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Details</h5>
                                        </div>
                                        <div class="card-block table-border-style">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                  
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">Name</th>
                                                            <td>Puneeth</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Age</th>
                                                            <td>21</td>

                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Gender</th>
                                                            <td>Male</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Adhaar</th>
                                                            <td>927002701289</td>

                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Location</th>
                                                            <td>villivakkam</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Job</th>
                                                            <td>Sunken pond</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
