{% extends "layouts/base.html" %}

{% block title %} Page Blank {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}  {% endblock stylesheets %}
{% block content %}
<section class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <div class="main-body">
          <div class="page-wrapper">
            <div class="row">
              
             
                <div class="col-sm-12">
                  <div class="card">
                      <div class="card-header">
                           <h5>Security Policies</h5>
                      </div>
                      <div class="card-block">
                          <div class="row"> 
                            <img src="\static\assets\images\meta.jpg" style="height: 400px; width: 4000px;"/>
                            <br>
                            <ol>                               
                                <li style="font-size: large;">Data Privacy Policy: Your privacy is our top priority. We are committed to handling your medical data with the utmost confidentiality and care. Your data will be used solely for the purpose of summarizing and analyzing call interactions between patients and physicians.
                                </li>
                                <li style="font-size: large;">Data Encryption: We employ strong encryption techniques to safeguard your data both during transmission and when stored on our servers. This ensures that your medical information remains protected and secure from unauthorized access.
                                </li>
                                <li style="font-size: large;">Access COntrol: Only authorized personnel with a legitimate need will have access to your medical data. We enforce strict access controls to ensure that only those who are authorized can view and process your information.
                                </li>
                                <li style="font-size: large;">Blockchain Security: To enhance data security and integrity, we utilize blockchain technology to store the summaries of your call interactions. The blockchain ensures that the stored summaries are tamper-resistant and cannot be altered once added.                                    

                                </li>
                                <li style="font-size: large;">Audit Trail and Logging:  We maintain detailed records of all user interactions and data access to ensure transparency and accountability. These audit logs help us monitor and detect any suspicious activities, enhancing the security of your data.                                    
                                </li>
                                <li style="font-size: large;">Regular Security Assessments: We conduct regular security assessments, penetration testing, and vulnerability assessments to identify and address potential security risks proactively. This allows us to stay one step ahead of any potential threats.                                    
                                </li>
                                <li style="font-size: large;">User Authentication and Authorization: Your account security is of paramount importance to us. We implement strong user authentication mechanisms to ensure that only you can access your data. Multi-factor authentication (MFA) provides an additional layer of protection.                                    
                                </li>
                                <li style="font-size: large;">Security Incident Response: In the unlikely event of a security breach, we have a robust incident response plan in place. This allows us to respond promptly and effectively to mitigate any potential impact and inform affected users as necessary.                                    
                                </li>
                                <li style="font-size: large;">Third-Party Security:  We take great care when using third-party APIs or services. All third-party services we use adhere to the same strict privacy and security standards that we uphold.</li>
                            </ol>
                        
                          </div>
                      </div>
                  </div>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
